body {
background-color: #eee;
}
p {
font-family: Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 200%;
padding-top: 25px;
}

h2 {
font-family: Helvetica, Arial, sans-serif;
}

h4 {
font-family: Helvetica, Arial, sans-serif;
}